/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
    z-index: -1 !important;
}

.title-header {
    height: 300px !important;
    background-size: unset !important;
    background-position: center top !important;
    vertical-align: bottom !important;
}

/* ---- custom css ---- */
.bg-wvndr {
    background-color: rgba(32, 32, 32, 0.3);
    border-bottom: 1px solid rgba(32, 32, 32, 0.5);
    z-index: 1;
}

.branding {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 45vh auto;
    z-index: 2;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.section-title {
    margin-top: 160px;
}

.title-spacer {
    height: 320px;
}
